
#communty-link{
	position: fixed;
	top: 0;
	right: -40px;
	width: 15%;
	width: 150px;
	height: 100%;

	margin-top: $navbar-height;
	padding-top: 10%;

	z-index: 1000;

	text-align: right;

	padding-right: 0;
	-webkit-transition: padding-right 1s;
    transition: padding-right 1s;		

    a {
    	&.facebook {
    		@include community-link($facebook-color);
    	}
    	&.twitter {
    		@include community-link($twitter-color);
    	}
    	&.instagram {
    		@include community-link($instagram-color);
    	}
    	&.vine {
    		@include community-link($vine-color);
    	}
    }
	&:hover {
		padding-right: 65px;
	}
}

